<div class="container">
  <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="/">La Bodega</a>
    <div class="navbar-expand ml-auto navbar-nav">
      <div class="navbar-nav">
        <a class="nav-item nav-link" [routerLink]="['/tienda']">
          <i class="fa fa-th"></i>
        </a>
        <a class="nav-item nav-link" [routerLink]="['/carro']">
          <i class="fa fa-shopping-cart"></i>
        </a>
        <a class="nav-item nav-link" [routerLink]="['/carro']">
          <i class="fa fa-inbox"></i>
        </a>
        <a class="nav-item nav-link" href="#" (click)="onClickLogout()">
          <i class="fa fa-sign-out"></i>
        </a>
      </div>
    </div>
  </nav>
</div>
